* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}
/* @media à placer en bas de page après fin du code */

@media screen and (max-width:600px) {
    body {
       
    }
}
@keyframes transitionColor {
    0% {
        background-color: aqua;
    }
    50% {
        background-color: beige;
    }
    100% {
        background-color: blueviolet;
    }

}
/* Header */

header {
    background-color: antiquewhite;
    align-items: center;
    /* max-width: 1200px; */
    margin: auto;
}

#menu-block {
    display: flex;
    align-items: center;
}

#icon-menu-container{
    width: 30px;
    height: 30px;
}

img {
    height: 100%;
    width: 100%;
  }
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
li {
    text-align: center;
    color: white;
    margin: 5px;
}
#liseret {
    height: 5px;
    background-color: brown;
}
nav {
    background-color: #E46051;
    flex-wrap: wrap;
}

#header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
    align-items: center;
    padding: 25px 0;
}
#titre-principal {
    font-weight: bold;
    color: #E46051;
}
#bouton-nav-culture {
    width: 33%;
}
#bouton-nav-science-vie {
    width: 33%;
}
#bouton-nav-arts {
    width: 33%;
}
.icon-container {
    width: 25%;
}
#container-thematiques {
    width: 60px;
    height: 60px;
    display: flex;
}
section {
    background-color: rgb(214, 211, 211);
    margin: 20px 42px;
}

.article {
    background-color: white
    width: 25%;
    margin: 10px;
    display: flex;
}
.articles {
    background-color:rgb(187, 183, 183);
    margin: 10px 0px;
    display: flex;
}
.blocs-articles {
    width: 50%;
}
.containrer-image {
    width: 50%;
    margin: 15px;
}
.texte-article {
    width: 50%;
    margin: 15px 15px 15px 0px
}

#second-container {
    background-color: rgb(22, 234, 43);
    margin: 10px 0px;
}
#troisieme-container {
    background-color: rgb(240, 10, 159);
    margin: 30px;
}
#bouton-menu {
    display: flex;
}
.images-blocks {
    width: 50px;
    height: 50px;
}
#premier-block {
    display: flex;
}
span {
    color: #E46051;
    font-size: 20px;
}
body {
    background-color: rgb(214, 211, 211);
}